# Dependencies
node_modules
/.pnp
.pnp.js

# Production
/out
/.next
/build
dist

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

